$border: 2px solid;
$border-radius: 10px;
$border-radius-ovalshape: 150px;
$border-color: #cae7fe;
$border-bottom-row: 1px solid $border-color;

$box-shadow: 0px 0px 0px 0px black;

$color-success: #01bda7;
$color-default: #1890ff;
$color-error: #eb5757;
$color-warning: rgb(250, 173, 20);

$color-success-muted: #f2fff3;

$color-mute: rgba(49, 49, 49, 0.4);
$color-transparent: #ffffff;

$global-padding: 20px;
